
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Product</h2>

<div style="height:500px">
    <div>
        <div class="col-lg-4 text-right">
            <label>
                Product:
            </label>
        </div>
        <div class="col-lg-4 text-left">
            <select id="ProductList" class="form-control">
                <option value="">Select a product</option>
            </select>
        </div>
        <div class="col-lg-4">
            <button type="button" id="DeleteButton" class="btn btn-primary">Delete</button>
        </div>

    </div>
</div>

<script type="text/javascript">

    $(document).ready()
    {
        getProductDetails();
        function getProductDetails() {

            var serviceUrl = "https://localhost:44317/api/Items";
            //alert(serviceUrl);
            $.ajax
           ({
               type: "GET",
               url: serviceUrl,
               dataType: 'json',
               async: false,
               data: '',
               success: function (data) {
                   $.each(data, function (index, element) {
                       $('#ProductList').append($("<option value='" + element.ProductID + "'>" + element.Product_Name + " -- " +
                           element.Product_Weight_in_grams + " gm</option> "));
                   });

                   //$("#ProductList").load(" #ProductList");

               }
           });
        }


        $("#DeleteButton").click(function () {

            var productDeleted = $('#ProductList').find(":selected").val();
            if (productDeleted != "") {
                //alert(searchItemValue);
                var serviceUrl = "https://localhost:44332/Home/Delete?productId=" + productDeleted;
                alert(serviceUrl);               

        $.ajax
          ({
              type: "POST",
              url: serviceUrl,
              dataType: 'json',
              async: false,
              data: '',
              success: function (data) {
                  alert("Product Successfully Queued for Deletion");

              }
          });
                
            }

        });
    }


</script>

