@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Compare Me!!</h1>
    <p class="lead">Compare Price across different prices.</p>
</div>

<div id="ProductList" class="container-fluid" >
    <div class="row" style="border: 1px solid #c9c9f5" >
        <div class="col-lg-3"><strong>Product</strong></div>
        <div class="col-lg-3"><strong>Weight (in gm)</strong></div>
        <div class="col-lg-3"><strong>Aldi Price</strong></div>
        <div class="col-lg-3"><strong>Cost Cutter Price</strong></div>
    </div>
   
</div>

<script type="text/javascript">

    $(document).ready()
    {
        alert("Loading Cost Comparison grid when document loads completely. Click OK to continue.");

        $.ajax
        ({
            type: "GET",
            url: "https://localhost:44317/api/Items",
            dataType: 'json',
            async: false,
            username: 'rocky@gmail.com',
            password: 'Qwerty@123',
            data: '',
            success: function (data) {
                $.each(data, function (index, element) {
                    
                    $('#ProductList').append($('<div class="row" style="border: 1px solid #c9c9f5" ><div class="col-lg-3">' +
                        element.Product_Name + '</div>' + '<div class="col-lg-3">' +
                        element.Product_Weight_in_grams + '</div>' + '<div class="col-lg-3">' +
                        element.Aldi_Price + '</div>' + '<div class="col-lg-3">' +
                        element.CostCutter_Price + '</div></div>'));
                });
            }
        });


    }

</script>